<nav>
  <div class="brand">
    <app-circle-button class="menu-button" icon="menu"></app-circle-button>
    <img src="/assets/logo.png">
    <span class="title">Keep</span>
  </div>
  <app-search-bar></app-search-bar>
  <div class="actions">
    <app-circle-button icon="refresh"></app-circle-button>
    <app-circle-button icon="grid_view"></app-circle-button>
    <app-circle-button icon="settings"></app-circle-button>
  </div>
  <div class="apps">
    <app-circle-button icon="apps"></app-circle-button>
    <app-circle-button mode="image" imageUrl="/assets/avatar.png"></app-circle-button>
  </div>
</nav>
