@use '../../styles/mixins';

:host {
  flex: 1;
  min-width: 0;
}

.this {
  @include mixins.flex();
  max-width: 720px;
  border-radius: 8px;
  margin: 0px 8px;
  padding: 4px 0px;
  background-color: #f1f3f4;
}

.this.active {
  background-color: #fff;
  box-shadow: 0px 1px 3px #aaa;
}

.search-box {
  width: 100%;
  padding: 11px 0px;
  background-color: inherit;
  border: none;
}

.search-box:focus-visible {
  outline: none;
}

.inline-button {
  margin: 0px 8px;
}
