@use '../../styles/mixins';

.this {
  @include mixins.flex(true, true);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: inherit;
  width: 3rem;
  height: 3rem;
}

.this.small {
  width: 2.5rem;
  height: 2.5rem;
}

.this:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.this:active {
  background-color: rgba(60, 64, 67, 0.12);
}

.this:focus-visible {
  outline: none;
  border: 1px solid rgba(0,0,0,0.6);
}

.icon {
  color: #5f6368;
}

.image {
  border-radius: 50%;
}
