/* You can add global styles to this file, and also import other style files */

* {
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.2;
}

html, body, p, button, input, textarea, select {
  font-size: 16px;
}
